<?xml version="1.0" encoding="UTF-8"?>
<routes>
	<route>
		<from>login</from>
		<to>AuthenticationController</to>
	</route>
	<route>
		<from>logout</from>
		<to>AuthenticationController</to>
		<action>logout</action>
	</route>
	<route>
		<from>desenhos</from>
		<to>DesenhoController</to>
	</route>
	<route case-sensitive="true">
		<from>acervo</from>
		<to>DesenhoController</to>
		<action>listar</action>
	</route>
	<route>
		<from>idiomas</from>
		<to>IdiomaController</to>
	</route>
	<login-route>
		<to>AuthenticationController</to>
	</login-route>
	<error>
		<default>DecodeErrorController</default>
	</error>
</routes>
