<?xml version="1.0" encoding="UTF-8"?>
<routes>
	<route>
		<from>login</from>
		<to>AuthenticationController</to>
	</route>
	<route>
		<from>logout</from>
		<to>AuthenticationController</to>
		<action>logout</action>
	</route>
	<route case-sensitive="true">
		<from>home</from>
		<to>HomeController</to>
	</route>
	<login-route>
		<to>AuthenticationController</to>
	</login-route>
	<error>
		<default>DecodeErrorController</default>
	</error>
</routes>
